<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recode.appro.telas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Uff" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
        <meta-data android:name="ApplicationId" android:value="@string/app_id"/>

        <activity
            android:name="recode.appro.main.view.NavigationDrawer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.c99.SyncProviderDemo.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="recode.appro.main.view.FaceLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.c99.SyncProviderDemo.ProfileActivity"
            android:label="Profile" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.org.c99.SyncProviderDemo.profile" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <service
            android:name="org.c99.SyncProviderDemo.AccountAuthenticatorService"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="recode.appro.main.provider.NoticiasProvider"
            android:authorities="recode.appro.main.provider.NoticiaProvider"
            android:exported="true"
            android:label="Noticias"
            android:multiprocess="true" >
        </provider>

        <service
            android:name="org.c99.SyncProviderDemo.NoticiasSyncAdapterService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
        </service>

        <provider
            android:name="recode.appro.main.provider.EventoProvider"
            android:authorities="recode.appro.main.provider.EventoProvider"
            android:exported="true"
            android:label="Eventos"
            android:multiprocess="true" >
        </provider>

        <service
            android:name="org.c99.SyncProviderDemo.EventosSyncAdapterService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_eventos" />
        </service>

        <!-- FACEBOOK -->

    </application>

    <!-- <service -->
    <!-- android:name="recode.appro.services.SyncService" -->
    <!-- android:exported="true" -->
    <!-- android:process=":sync"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="android.content.SyncAdapter"/> -->
    <!-- </intent-filter> -->
    <!-- <meta-data android:name="android.content.SyncAdapter" -->
    <!-- android:resource="@xml/syncadapter" /> -->
    <!-- </service> -->


    <!-- <service android:name="recode.appro.services.AccountAuthenticatorService" -->
    <!-- android:exported="true" android:process=":auth"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="android.accounts.AccountAuthenticator" /> -->
    <!-- </intent-filter> -->
    <!-- <meta-data android:name="android.accounts.AccountAuthenticator" -->
    <!-- android:resource="@xml/authenticator" /> -->
    <!-- </service> -->

</manifest>
